*{
    padding: 0px;
    margin: 0px;
}
html, body{
    height: 96vh;
    width: 96vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #233eff;
    color: aliceblue;
}
@media screen and (orientation:landscape) {
    body{
        background: url('cev-landscape.jpg');
        background-position: left bottom;
    }
}
@media screen and (orientation: portrait){
    body{
        background: url('cev-portrait.jpg');
        background-position: center bottom;
    }
}